@import "fonts.css";

:root {
    --size-var: 200px;
    --bg-dar-orange: hsla(91, 23%, 2%, 1);
    --bg-lig-orange: hsla(46, 64%, 47%, 1);
    --forg-color: hsla(91, 23%, 2%, 1);
    --bg-white: hsla(46, 13%, 84%, 1);
    --bg-grey: rgba(237, 235, 235, 0.264);
    --bg-gray-dark: hsla(0, 0%, 44%, 1);

    --pad-xs: 0.7rem;
    --pad-md: 1.5rem;

    --font-geo: 'Geometric';
    --font-postre: 'Postre';
    --font-Kana-itl: 'Kanakira-italic';
    --font-boreg: 'Boregtrialo';
    --font-kana: 'kanakira';

    --font-w-1: 100;
    --font-w-3: 300;
    --font-w-6: 600;
    --font-w-8: 800;

    --font-s-md: 26px;
    --font-s-mmd: 22px;
    --font-s-xmd: 18px;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    width: 100vw;
    background: var(--bg-white);
    /* cursor: none; */
}

main {
    width: 100vw;
    position: relative;
    min-height: 100vh;
    height: fit-content;
}

main .mouse-follower {
    position: absolute;
    width: 60px;
    aspect-ratio: 1;
    background: var(--bg-lig-orange);
    border-radius: 50%;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    transition: 0.05s all ease-in-out;
}


header {
    width: 10vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .img-box {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
}

header .img-box img {
    border-radius: 50%;
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header nav ul li {
    position: relative;
    writing-mode: vertical-lr;
    list-style: none;
}

header nav ul li a {
    font-family: var(--font-geo);
    color: var(--forg-color);
    text-decoration: none;
    mix-blend-mode: difference;
}

header span i {
    font-size: var(--font-s-md);
    color: var(--bg-dar-orange);
}

section:not('#WHEEL') {
    width: 100%;
    min-height: 100vh;
    z-index: 99;
}

.container {
    margin: auto;
    width: clamp(400px, 80vw, 1440px);
    height: 100vh;
}

#HOME .container {
    font-family: var(--font-kana);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'my-intro my-intro'
        'my-intro my-intro'
        'about-intro work-intro';
    color: var(--forg-color);
}

#HOME .container .my-intro {
    margin-top: 5%;
    grid-area: my-intro;
    font-size: clamp(2rem, 5vw, 5rem);
}

#HOME .container .about-intro {
    font-family: var(--font-boreg);
    grid-area: about-intro;
}

#HOME .container .about-intro h2 {
    font-size: clamp(2rem, 3vw, 3.5rem);
}

#HOME .container .about-intro i {
    font-size: clamp(2rem, 3vw, 3.5rem);
    transform: rotate(110deg);
}

#HOME .container .work-intro {
    font-family: var(--font-postre);
    grid-area: work-intro;
    font-size: var(--font-s-mmd);
}

#HOME .container .work-intro h2 i {
    animation: rotate 10s linear infinite;
}

#MENU .container {
    display: flex;
    align-items: center;
    position: relative;
}

.box h1 {
    font-family: var(--font-kana);
    text-align: center;
    font-size: clamp(50px, 18vw, 200px);
    font-weight: 800;
    color: var(--forg-color);
    letter-spacing: 2px;
}

.box p {
    margin-left: 4%;
    font-family: var(--font-boreg);
    font-size: var(--font-w-1);
    color: var(--forg-color);
}

#STORIES {
    position: relative;
}

#STORIES .container h2 {
    color: var(--forg-color);
    margin-top: var(--pad-xs);
    padding: var(--pad-xs);
    font-size: clamp(2.5rem, 4vw, 4.5rem);
    font-family: var(--font-kana);
    border-bottom: 1px solid var(--bg-gray-dark);
}

#STORIES span {
    position: absolute;
    width: 100px;
    aspect-ratio: 1;
    background: var(--forg-color);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    display: grid;
    place-items: center;
    color: var(--bg-white);
    font-size: clamp(2rem, 3vw, 4rem);
    top: 5%;
    right: 10%;
    animation: rotate 15s linear infinite;
}

#WHEEL {
    position: relative;
    height: 50vh;
    display: grid;
    place-content: center;
}

.lerp-wrap span {
    color: var(--forg-color);
    font-family: var(--font-Kana-itl);
    font-size: clamp(50px, 18vw, 200px);
    font-weight: 600;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media all and (max-width : 500px) {
    .mouse-follower {
        display: none;
    }

    header {
        position: relative;
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }

    header img {
        width: 50px;
        height: 50px;
        margin-top: 30%;
    }

    header span {
        margin-left: 5%;
    }

    header nav ul {
        flex-direction: row;
    }

    header nav ul li {
        writing-mode: horizontal-tb;
    }

    #HOME .container {
        margin-top: 10%;
        grid-template-areas: 'my-intro'
            'about-intro'
            'work-intro';
    }

    .box p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
    }
}

@media (min-width : 500px) and (max-width : 800px) {
    .mouse-follower {
        display: none;
    }

    header {
        position: relative;
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        align-items: center;
        padding: 5px;
    }

    header img {
        margin-top: 20%;
    }

    header nav ul {
        flex-direction: row;
    }

    header nav ul li {
        writing-mode: horizontal-tb;
    }

    header nav ul li a {
        font-size: 20px;
        color: var(--forg-color);
    }

    #HOME .container {
        margin-top: 5%;
        grid-template-areas: 'my-intro'
            'about-intro'
            'work-intro';
    }

    .box p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
        overflow: hidden;
    }
}

@media (min-width : 800px) and (max-width : 1024px) {
    div p {
        column-count: 3;
        column-gap: var(--pad-xs);
    }

    .box p {
        column-count: 2;
    }
}

@media (min-width : 1024px) and (max-width : 1440px) {
    header nav ul {
        position: relative;
        top: 30%;
        transform: translate(-50%, -50%);
    }

    header nav ul li a {
        font-size: var(--font-s-xmd);
    }

    .box p {
        font-size: var(--font-s-xmd);
        column-count: 3;
    }
}

@media (min-width : 1440px) and (max-width : 2160px) {
    header nav ul {
        position: relative;
        top: 30%;
        transform: translate(-50%, -50%);
    }

    header nav ul li a {
        font-size: var(--font-s-md);
    }

    .box p {
        margin-left: 10%;
        font-size: var(--font-s-md);
    }
}